<h2>{{pageTitle}}</h2>

<button mat-raised-button color="primary" routerLink="new">Add New Book</button>
<button mat-raised-button color="primary" routerLink="new-reactive">Add New Book Reactive</button>



<app-book-card [allBooks]="books"></app-book-card>






<!-- 
<a [routerLink]="'recent'">Recent Books</a>

<button mat-raised-button color="primary" (click)="increase()">Counter ++</button>
<br>
<button mat-raised-button color="primary" (click)="decreas()">Counter -- </button>


<p>Counter = {{counter2Service.counter}}</p> -->