<h2>Add New Book Reactive</h2>

<form (ngSubmit)="saveBook()" class="add-book-form" [formGroup]="addBookForm">
  

  <mat-radio-group aria-label="Select an option" class="toggle" formControlName="formatType">
    <mat-radio-button value="pdf">PDF</mat-radio-button>
    <mat-radio-button value="doc">Document</mat-radio-button>
  </mat-radio-group>
  
  
  <mat-form-field appearance="outline">
    <mat-label>Doc Format</mat-label>
    <input matInput placeholder="document format" name="docFormat" formControlName="docFormat" />
    <mat-icon matSuffix>description</mat-icon>
  </mat-form-field>


  <mat-form-field appearance="outline">
    <mat-label>Pdf Format</mat-label>
    <input matInput placeholder="pdf format" name="pdfFormat" formControlName="pdfFormat" />
    <mat-icon matSuffix>picture_as_pdf</mat-icon>
  </mat-form-field>

  
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Title" name="title" formControlName="title" />
    <mat-icon matSuffix>title</mat-icon>
    <mat-hint>
     {{titleErrorMessage}}
    </mat-hint>
  </mat-form-field>


<div formArrayName="authors">
  <div *ngFor="let auth of authors.controls; let i = index">
    <mat-form-field appearance="outline" [formGroupName]="i">
      <mat-label>Authors</mat-label>
      <input
        matInput
        placeholder="Author Full Name"
        name="fullName"
        formControlName="fullName"
      />
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" [formGroupName]="i">
      <mat-label>Authors Address</mat-label>
      <input
        matInput
        placeholder="Author's Address"
        name="address"
        formControlName="address"
      />
      <mat-icon matSuffix>home</mat-icon>
    </mat-form-field>

    
    <button mat-button (click)="removeAuthor(i)">Remove</button>
  </div>
  <button (click)="addMoreAuthor()" mat-button>Add More</button>
</div>



  <mat-form-field appearance="outline">
    <mat-label>No. Of Page</mat-label>
    <input
      matInput
      placeholder="Total Pages"
      name="pages"
      formControlName="totalPages"
    />
    <mat-icon matSuffix>123</mat-icon>
  </mat-form-field>
  <!-- Price section Start -->
  <div class="price-container" formGroupName="price">
    <mat-form-field appearance="outline">
      <mat-label>Currency</mat-label>
      <mat-select placeholder="Currency" name="currency" formControlName="currency">
        <mat-option *ngFor="let currency of currencies" [value]="currency.value">
          {{ currency.viewValue }}
        </mat-option>
      </mat-select>
      <mat-icon matSuffix>paid</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <mat-select placeholder="Price" name="price" formControlName="value">
        <mat-option *ngFor="let price of prices" [value]="price.value">
          {{ price.viewValue }}
        </mat-option>
      </mat-select>
      <mat-icon matSuffix>attach_money</mat-icon>
    </mat-form-field>
  </div>
  <!-- Price section end  -->
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      name="publishedOn"
      formControlName="publishedOn"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-slide-toggle
    class="toggle"
    name="isPublished"
    formControlName="isPublished"
    >Is Published</mat-slide-toggle
  >

  <button
    type="submit"
    [disabled]="addBookForm.invalid"
    mat-raised-button
    color="primary"
  >
    Save
  </button>
</form>
